<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <ul id="navigation">
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
    <main>
      <div class="aboutContainer">
        <img id="jeremyGif" src="/images/jeremy-fragrance-swag.gif" alt="" />
        <h2>
          About <br />
          Jeremy Fragrance
        </h2>
        <p>
          Jeremy's unique ability to translate the language of scents into
          relatable experiences has made him a true connoisseur of fragrances.
          Whether he's unraveling the intricacies of luxurious niche perfumes or
          uncovering hidden gems in more accessible fragrance offerings,
          Jeremy's insights and reviews leave a lasting impression on his
          audience.<br /><br />

          Beyond his captivating reviews, Jeremy Fragrance embodies the spirit
          of exploration and discovery. He fearlessly delves into the world of
          fragrance, encouraging his followers to break boundaries and embrace
          new olfactory horizons. His genuine passion for perfumes is
          contagious, igniting a sense of curiosity and adventure within his
          community.<br /><br />

          Furthermore, Jeremy's dedication to his followers extends beyond
          reviews. He fosters a welcoming environment, creating a vibrant
          community where fragrance enthusiasts can connect, share their
          experiences, and learn from one another. His genuine interactions and
          willingness to engage with his audience have cultivated a sense of
          camaraderie and unity among fragrance lovers worldwide.<br /><br />

          Jeremy Fragrance has undoubtedly left an indelible mark on the perfume
          industry. His influence reaches far and wide, inspiring individuals to
          explore the vast and enchanting world of scents. With his impeccable
          taste, unparalleled knowledge, and magnetic personality, Jeremy
          continues to be a guiding light for fragrance enthusiasts, elevating
          their appreciation for perfumes and enriching their sensory journeys.
        </p>
      </div>
    </main>
  </body>
</html>
