<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <ul id="navigation">
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
    <main>
      <div class="workContainer">
        <h2>
          Gallery of <br />
          Jeremy Fragrance
        </h2>
        <div class="container">
          <div class="gallery">
            <div class="gallery-item">
              <img
                class="gallery-image"
                src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnpmZXFyemE2OTRzeGNtc2dkeWptcnppemZsNDg5eGc3bGlvczQ5bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ZqUVaHfIZWizPrGFsj/giphy.gif"
                alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer"
              />
            </div>

            <div class="gallery-item">
              <img
                class="gallery-image"
                src="https://media.tenor.com/kzU5J6CqWWsAAAAd/jeremy-fragrance-dance.gif"
                alt="sunset behind San Francisco city skyline"
              />
            </div>

            <div class="gallery-item">
              <img
                class="gallery-image"
                src="https://media.tenor.com/mjiyQqrUGEIAAAAC/jeremy-fragrance.gif"
                alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan"
              />
            </div>

            <div class="gallery-item">
              <img
                class="gallery-image"
                src="https://media1.giphy.com/media/t0IwlQLNauAmDTSxjZ/200w.gif"
                alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night"
              />
            </div>

            <div class="gallery-item">
              <img
                class="gallery-image"
                src="https://media.tenor.com/IrvZ8HvfvzgAAAAM/jeremy-dance.gif"
                alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA"
              />
            </div>

            <div class="gallery-item">
              <img
                class="gallery-image"
                src="https://media4.giphy.com/media/Y0nPIzV939fBBjL6hh/200w.webp"
                alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp"
              />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
