<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <ul id="navigation">
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
    <div class="backgroundContainer">
      <main>
        <div class="homeTextContainer">
          <h1>
            Welcome to the page <br />
            of Jeremy Fragance
          </h1>
          <p class="heroParagraph">
            Welcome to Jeremy Fragrance, your ultimate destination for all
            things fragrance! We are thrilled to have you join us on this
            aromatic journey through the captivating world of perfumes.
            POWER!!!!
          </p>
          <button><a href="/about">About Jeremy</a></button>
          <!-- <a class="button" href="/about">About Jeremy</a> -->
        </div>
      </main>
    </div>
  </body>
</html>
